<section class="about">
  <div class="container">
    <div class="row align-items">
      <div class="col-md image">
        <img [src]="imgUrl" class="w-100 mb-5 mb-md-0" />
      </div>
      <div class="col-md-6 content">
        <span>About Us</span>
        <h3>True Healthcare for your family</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo sit
          voluptas pariatur nulla tempore molestiae dignissimos eligendi eveniet
          inventore, quia ab, quae quam debitis illum? Expedita maxime ad totam
          eos!
        </p>
        <a routerLink="/contact" class="link-btn">make appointment</a>
      </div>
    </div>
  </div>
</section>
