<div class="home">
  <div class="container">
    <div class="row min-vh-100 align-items-center">
      <div class="content text-center text-md-left">
        <h3>let us brighten your smile</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
          placeat quibusdam ipsa laborum deserunt, dolorum accusamus numquam
          facilis consequatur inventore atque, ullam esse animi corrupti impedit
          dolores labore architecto assumenda?
        </p>
        <a routerLink="/contact" class="link-btn">make appointment</a>
      </div>
    </div>
  </div>
</div>
